.container {
    display: flex;
    width: 40%;
    height: 100%;
    background-color: #fdfdfd;
    flex-direction: column;
    margin: 0 25vw;
}

.bubble {
    text-align: justify;
    font-family: 'Calibri';
    padding: 15px;
    border-radius: 3px;
    width: 13vw;
}

.their {
    display: flex;
    column-gap: 15px;
}

.profilePic {
    border-radius: 50%;
    width: 3vw;
    height: 3vw;
}
.them {
    align-self: flex-start;
    background-color: #f1ffef;
}

.me {
    align-self: flex-end;
    background-color: #f1f5fb;
}

.message {
    display: flex;
    flex-direction: column;
}

.time {
    text-align: right;
    padding-top: 10px;
    font-size: small;
    color: grey;
}